<!DOCTYPE html>
<html>

  <head>
    <title>My Cloud</title>


  </head>
  <body>
  <h3>Name: Vinayak Tare</h3>
  <h4>Student ID: 1001453869</h4>
  <img src="**********/vin21-**********/Photo.jpg"/>
 <div class="container">
     {{ response }}
    <h1>Menu</h1>
     <hr>
   <h3>Upload a file</h3>{{ uploaded }}
   <form id="upload_form" action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept="uploaded_files/*" multiple>
      <input type="submit" name="upload" value="Upload" >

   </form>
   <hr>
     <h1>Total Entries</h1>
   <form id="upload_form" action="/total" method="POST" enctype="multipart/form-data">
      <input type="submit" name="total" value="Show Total Entries" ><br>
       Total entries :    {{ count }} <br>
   </form>
          <br><br><br>
     <form id="upload_form" action="/surnameQuery" method="POST" enctype="multipart/form-data">
      <input type="text" name="surname" placeholder="Enter surname ">
      <input type="submit" name="total" value="RDS Query result" ><br>

   </form>
               <br><br><br>
     <form id="upload_form" action="/surnameQueryMem" method="POST" enctype="multipart/form-data">
      <input type="text" name="surname" placeholder="Enter surname ">
      <input type="submit" name="total" value="Memcache Query result" ><br>

   </form>

               <br><br><br>
     <form id="upload_form" action="/query2" method="POST" enctype="multipart/form-data">
      <input type="text" name="state" placeholder="Enter state ">
         <input type="text" name="min" placeholder="Enter min height ">
         <input type="text" name="max" placeholder="Enter max height ">
      <input type="submit" name="total" value="Query result" ><br>

   </form>
               <br><br><br>
     <form id="upload_form" action="/query2Mem" method="POST" enctype="multipart/form-data">
      <input type="text" name="state" placeholder="Enter state ">
         <input type="text" name="min" placeholder="Enter min height ">
         <input type="text" name="max" placeholder="Enter max height ">
      <input type="submit" name="total" value="Memcache Query result" ><br>

   </form>

     <br><br><br>
     <form id="upload_form" action="/randomQuery_rds" method="POST" enctype="multipart/form-data">
      <input type="text" name="num" placeholder="Enter number of queries ">

               <input type="text" name="state" placeholder="Enter state ">
         <input type="text" name="min" placeholder="Enter min height ">
         <input type="text" name="max" placeholder="Enter max height ">
      <input type="submit" name="total" value="RDS Query result" ><br>
       RDS Time:    {{ rdsTime }} <br>
   </form><br><br><br>
     <form id="upload_form" action="/randomQuery_mem" method="POST" enctype="multipart/form-data">
      <input type="text" name="num" placeholder="Enter number of queries ">
               <input type="text" name="state" placeholder="Enter state ">
         <input type="text" name="min" placeholder="Enter min height ">
         <input type="text" name="max" placeholder="Enter max height ">
      <input type="submit" name="total" value="Memcache Query result" ><br>
       Memcache Time:    {{ memTime }} <br>
   </form><br><br><br>
     <form id="upload_form" action="/randomQuery_rdsTime" method="POST" enctype="multipart/form-data">
      <input type="text" name="num" placeholder="Enter number of queries ">
         <input type="text" name="limit" placeholder="Enter limit ">
         <input type="text" name="timelimit" placeholder="Enter time limit ">
      <input type="submit" name="total" value="RDS Query result" ><br>
       RDS Time:    {{ rdsTimeTotal }} <br>{{ noOfQueries }}
   </form><br><br><br>
     <br><br><br>
     <form id="upload_form" action="/randomQuery_memTime" method="POST" enctype="multipart/form-data">
      <input type="text" name="num" placeholder="Enter number of queries ">
         <input type="text" name="limit" placeholder="Enter limit ">
         <input type="text" name="timelimit" placeholder="Enter time limit ">
      <input type="submit" name="total" value="Memcache Query result" ><br>
       Memcache Time:    {{ memTotalTime }} <br>{{ noOfMemQueries }}
   </form>

     <br><br>
     <br>
     {{ reslt }}


 </div>
</body>
</html>
