<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Response</p>
      <p> sql time                 Memcache time </p>
        {% for tmp in files %}
      <p>{{ tmp.tt1 }}         {{ tmp.tt2 }}</p>
        {% endfor %}
        {% for tmp in response %}
      <p>{{ tmp.place}}  </p>
        {% endfor %}
<h1>age query</h1>
        {% for tmp in names %}
      <p>{{ tmp.get('name')}} </p>
        {% endfor %}
Number of people : {{ cnt }}
<br><br>
<h1>Survivor names</h1>
        {% for tmp in srNames %}
      <p>{{ tmp.get('name')}} </p>
        {% endfor %}

<h1>Last  names</h1>
        {% for tmp in likeQ %}
      <p>{{ tmp}}  </p>
        {% endfor %}

<h1>fair ranges</h1>
        {% for tmp in fairRange %}
      <p>{{ tmp}}  </p>
        {% endfor %}
{{ slc }}
{{ srNames }}
{{ calPlace}}
{{ places }}
<form action="../"><input type="Submit" value="Go to Home"></form>
</body>
</html>
