<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <div class="container">
      <h1>results</h1>
 No of results{{ count }}  <br><br>
     Time taken RDS    {{ rdsTime }} <br><br>
 Time taken Memcache    {{ memTime }}
 <br>
      <p> file name &nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Content      </p>

        {% for tmp in files %}
      <p>{{ tmp.num}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ tmp.res }}</p>
        {% endfor %}
  </div>
 <br><form action="/indexPage" method="post"><input type="Submit" value="Go to Home"></form>

</body>
</html>
</body>
</html>
